{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    //URL's
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
    var add_user_url = "{{=URL('api', 'add_user', user_signature=True)}}"
    var get_user_url = "{{=URL('api', 'get_user', user_signature=True)}}"
    var get_user_email_url = "{{=URL('api', 'get_user_email', user_signature=True)}}"
    var search_users_url = "{{=URL('api', 'get_search_list', user_signature=True)}}"
    var add_group_url = "{{=URL('api', 'add_group', user_signature=True)}}"
    var invite_user_url = "{{=URL('api', 'invite_user', user_signature=True)}}"
    var get_invites_url = "{{=URL('api', 'get_invites', user_signature=True)}}"
    var get_crowd_url = "{{=URL('api', 'get_invites', user_signature=True)}}"
    var get_crowd_url = "{{=URL('api', 'get_crowd', user_signature=True)}}"
    var join_groups_url = "{{=URL('api', 'join_groups', user_signature=True)}}"
    var delete_invite_url = "{{=URL('api', 'delete_invite', user_signature=True)}}"
    var leave_group_url = "{{=URL('api', 'leave_group', user_signature=True)}}"

</script>
{{end}}



<!-- <div id="vue-div">
    <span v-if="is_logged_in">
        <span v-if="!create_group">
            <div class="container main_content">
                <div class="half compressible"></div>
                <div class="top_bar quarter compressible">CrowdCram</div>
                <div class="quarter compressible"></div>
                <div class="half compressible profile_box">
                    <template v-if="editing == false">
                        <p class="current_user">name: ${current_user}</br>bio: ${current_bio}</br>class: ${current_class_1}</br>class: ${current_class_2}</br>class: ${current_class_3}</p>
                        <i v-on:click="toggle_edit" class="fa fa-pencil-square-o"></i>
                    </template>
                    <template v-if="editing == true">
                        <textarea v-model="current_user"></textarea>
                        <textarea v-model="current_bio"></textarea>
                        <textarea v-model="current_class_1"></textarea>
                        <textarea v-model="current_class_2"></textarea>
                        <textarea v-model="current_class_3"></textarea>
                        <button v-on:click="submit_edit">Done</button>
                    </template>
                </div>
                <div class="half compressible schedule_box">
                    <span v-for="crowd in crowd_list">
                        <p> date: ${crowd.crowd_date}</p>
                    </span>
                </div>
                <a v-on:click="toggle_page_1" class="btn navy">Create a Group</a>
            </div>
        </span>
        <span v-if="create_group">
            <div class="container main_content">
                <div class="half compressible"></div>
                <div class="top_bar quarter compressible">CrowdCram</div>
                <div class="quarter compressible"></div>
                <div class="half compressible profile_box">
                    <span v-if="show_users == false">
                        <textarea v-model="crowd_date"></textarea>
                        <textarea v-model="crowd_time"></textarea>
                        <textarea v-model="crowd_location"></textarea>
                        <textarea v-model="crowd_class"></textarea>
                        <button v-on:click="submit_group">done</button>
                    </span>
                    <span v-if="show_users == true">
                        <span v-for="user in query_list">
                            <p>name: ${user.profile_name}</p>
                            <p>bio: ${user.profile_bio}</p>
                            <button v-on:click="invite_user(user._idx)">invite</button>
                        </span>
                        <button v-on:click="toggle_home">done</button>
                    </span>
                    <!--<p>Search:</p>
                    <textarea v-model="search_query"></textarea>
                    <button v-on:click="toggle_page_1">Search</button>
                    <button v-on:click="toggle_home">Done</button>
                    <span v-for="user in query_list">
                        <p>name: ${user.profile_name}</p>
                        <p>bio: ${user.profile_bio}</p>
                        <button v-on:click="invite_user(user._idx)">invite</button>
                    </span> ------------
                </div>
            </div>
        </span>
    </span>
</div>

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div id="vue-div">
    <span v-if="is_logged_in">
    <div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <h1><b>CROWDCRAM</b></h1>
  <p><center><button class="w3-button w3-padding-large w3-white w3-border" v-on:click="toggle_page_1"><b>CREATE GROUP »</b></button>
  <button class="w3-button w3-padding-large w3-white w3-border" v-on:click="toggle_page_2"><b>ACCEPT INVITATIONS »</b></button>
</center></p></br>
  <!--<p><div class="progress fill"><div class="indeterminate"></div></div></p>-->
</header>
<!-- End Header -->

<!-- Grid -->
        <div class="w3-row">

<!-- Blog entries -->
            <div class="w3-col l8 s12">

      <!-- cont 1 -->
<span v-if="accept_invitations">
                        <div class="w3-card-4 w3-margin w3-white">
                            <div class="w3-container w3-white">
                                <h4><b>YOUR INVITATIONS:</b></h4>
                                    <span v-for="crowd in crowd_list">
                                        <p v-if="crowd.profile_email!=logged_in_user_email">DATE: ${crowd.crowd_date}</p>
                                        <p>TIME: ${crowd.crowd_time}</p>
                                        <p>LOCATION: ${crowd.crowd_location}</p>
                                        <p>CLASS: ${crowd.crowd_class}</p>
                                        <p>MEMBERS: ${crowd.num_members}</p>
                                        <button class="w3-button w3-black" v-on:click="join_group(crowd._idx)">ACCEPT »</button>
                                        <button class="w3-button w3-black" v-on:click="delete_invite(crowd._idx)">DECLINE »</button>
                                    </br>
                                    </br>
                                    </span>
                            </div>
                        </div><hr>
                        </span>


                    <span v-if="!create_group">
                        <div class="container main_content">
                        <div class="w3-card-4 w3-margin w3-white">
                            <div class="w3-container w3-white">
                                <h3><b>PROFILE:</b></h3>

                                        <template v-if="editing == false">
                                            <p class="current_user" style="font-family: "><b>${current_user}</b></br></br><b>About Me: </b></br>${current_bio}</br></br><b>class: ${current_class_1}</br>class: ${current_class_2}</br>class: ${current_class_3}</br></br></b></p>
                                            <p><button class="w3-button w3-black" v-on:click="toggle_edit"><b>EDIT PROFILE »</b></button></p>
                                        </template>

                                        <template v-if="editing == true">
                                            <textarea v-model="current_user"></textarea>
                                            <textarea v-model="current_bio"></textarea>
                                            <textarea v-model="current_class_1"></textarea>
                                            <textarea v-model="current_class_2"></textarea>
                                            <textarea v-model="current_class_3"></textarea>
                                            <button class="w3-button w3-black" v-on:click="submit_edit"><b>DONE »</b></button>
                                        </template>
                            </div>
                        </div>

                        <div class="w3-card-4 w3-margin w3-white">
                        <div class="w3-container w3-white">
                            <h3><b>YOUR GROUPS:</b></h3>
                            <span v-for="crowd in crowd_list2">
                            <span v-if="crowd.profile_email==logged_in_user_email"></span>
                            <p>date: ${crowd.crowd_date}</p>
                            <p>time: ${crowd.crowd_time}</p>
                            <p>location: ${crowd.crowd_location}</p>
                            <p>class: ${crowd.crowd_class}</p>
                                <button class="w3-button w3-black" v-on:click="leave_group(crowd._idx)"><b>LEAVE »</b></button>
                            <!--<button v-on:click="delete_invite(crowd._idx)">decline</button>-->
                        </span>

                        </div>
                        </div>
                    </div>
                    </span>






                <span v-if="create_group">
                    <div class="container main_content">
                        <span v-if="show_users == false">
                            <textarea v-model="crowd_date"></textarea>
                            <textarea v-model="crowd_time"></textarea>
                            <textarea v-model="crowd_location"></textarea>
                            <textarea v-model="crowd_class"></textarea>
                            <button class="w3-button w3-black" v-on:click="submit_group"><b>CREATE »</b></button>
                            <button class="w3-button w3-black" v-on:click="toggle_home"><b>CANCEL »</b></button>
                        </span>
                        <span v-if="show_users == true">
                        <span v-for="user in query_list">
                            <span v-if="user.profile_email!=logged_in_user_email">
                            <p>${user.profile_name}</p>
                            <p>About Me: </br>${user.profile_bio}</p>
                            <button class="w3-button w3-black" v-on:click="invite_user(user._idx)"><b>INVITE »</b></button>
                            </span>
                        </span></br></br>
                        <button class="w3-button w3-black" v-on:click="toggle_home"><b>DONE »</b></button>
                        </span>
                    <!--<p>Search:</p>
                    <textarea v-model="search_query"></textarea>
                    <button v-on:click="toggle_page_1">Search</button>
                    <button v-on:click="toggle_home">Done</button>
                    <span v-for="user in query_list">
                        <p>name: ${user.profile_name}</p>
                        <p>bio: ${user.profile_bio}</p>
                        <button v-on:click="invite_user(user._idx)">invite</button>
                    </span> -->
                    </div>
                </span>

      <!-- cont 1 end -->
</div>
  <hr>

<!-- END BLOG ENTRIES -->

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>
    </span>
<!-- END view div -->
</div>










<script src="{{=URL('static', 'js/default_index.js')}}"></script>